{% extends 'base.html.twig' %}


{% block body %}
	<h1>{{ title }}</h1>
{% if age > 18 %}
	<h2>Tu es majeur</h2>
{% else %}
	<h2>Tu es mineur</h2>
{% endif %}	


	<p>Les fichiers et dossiers cachés apparaissent alors dans le Finder. Comme indiqué plus haut, ils s’affichent en transparence et donnent l’impression d’être grisés.</p>
	<p>Vous pouvez masquer de nouveau les fichiers affichés. Pour cela, remplacez le mot « true » par « false » dans la commande concernée. La commande est alors la suivante :</p>
{% endblock %}
